.apod-information-container
  .apod-container-inner
    %h2= @apod.title
    - unless @apod.copyright.blank?
      .copyright
        %span.glyphicon.glyphicon-copyright-mark{aria: {hidden: "true"}}
        = @apod.copyright

    .apod-explanation= @apod.explanation

.apod-media-container
  .apod-container-inner
    - if @apod.image?
      %img.apod-media-item{src: @apod.url}
    - else
      %iframe.apod-media-item-other{src: @apod.url}
