@import "bootstrap-sprockets";
@import "bootstrap";

$basic-gap: 2rem;
$night-blue: #3d3e48;
$nice-pink: #64457E;
$white: #e8e8e8;

@mixin bg-color ($color) {
  background-color: $color;
}

@mixin size ($with, $height) {
  width: $with;
  height: $height;
}

%responsive-image {
  max-width: 100%;
  height: auto;
}

body, html {
  @include bg-color($night-blue);
  color: $white;
}

.navbar-default {
  @include bg-color($nice-pink);
  border-color: $nice-pink;

  .navbar-brand {
    color: $white;
  }

  .navbar-nav > li >  a {
    color: $white;
  }
}

.navbar-right.navbar-form {
  color: darken($night-blue, 25%);
}

.apod-media-item {
  @extend %responsive-image;
}

.apod-media-item-other {
  @include size(600px, 480px);
}

.apod-explanation {
  text-align: justify;
  font-size: 1.8rem;
  padding: 0 $basic-gap $basic-gap 0;
}

.apod-information-container {
  @extend .col-md-4;
}

.apod-media-container {
  @extend .col-md-8;
}

.apod-container-inner {
  @extend .row;
}
