!!!
%html
  %head
    %meta{content: 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}/
    %title AstroPics
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body

  %nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        %button{type: 'button', class: 'navbar-toggle collapsed',
                data: {toggle: 'collapse', target: '#bs-navbar-collapse'},
                aria: {expanded: false}}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        %a.navbar-brand{href: '/'} APOD

      .collapse.navbar-collapse{id: 'bs-navbar-collapse'}
        = form_tag search_apods_path, method: 'get',
                                      class: 'navbar-form navbar-right',
                                      role: 'search' do
          = text_field_tag :search, params[:search], id: 'js-search-input'
          = submit_tag 'Suchen', name: nil, class: 'btn btn-primary'

        %ul.nav.navbar-nav.navbar-left
          - if @previous_apod
            %li
              = link_to 'Früher', @previous_apod,
                id: 'js-previous-apod'
          - if @next_apod
            %li
              = link_to 'Später', @next_apod, id: 'js-next-apod'

  .container
    - if flash[:error]
      .alert.alert-warning{role: 'alert'}
        = flash[:error]

    = yield
